{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="topNav">
        <h1>Admin Dashboard</h1>
        <a href="{{ url_for('admin.login') }}" class="btnL">Logout</a>
    </div>  
    <div>
        <img src="/static/images/dashboard.png" alt="volunteerServices" class="dashboardImg">
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Manage Volunteers</h5>
            </div>
            <div class="card-body">
                <p class="card-text">View, add, edit, or remove volunteers.</p>
                <a href="{{ url_for('admin.volunteer_management') }}" class="btn">Manage Volunteers</a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Manage Events</h5>
            </div>
            <div class="card-body">
                <p class="card-text">View, create, or edit events.</p>
                <a href="{{ url_for('admin.event_management') }}" class="btn">Manage Events</a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Manage Awards</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Award recognition to volunteers based on their contributions.</p>
                <a href="{{ url_for('admin.award_management') }}" class="btn">Manage Awards</a>
            </div>
        </div>

        <!-- New Card for Task Management -->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Manage Tasks</h5>
            </div>
            <div class="card-body">
                <p class="card-text">View, create, edit, or remove tasks.</p>
                <a href="{{ url_for('task.task_management') }}" class="btn">Manage Tasks</a>
            </div>
        </div>

        <!-- Excel Card -->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Manage Excel Data</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Export and Import data for Volunteers, Events, and Tasks.</p>
                <a href="{{ url_for('admin.excel_management') }}" class="btn">Manage Excel Data</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
