{% extends "base.html" %}

{% block content %}
<div class="auth-page">
<div class="login-container">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
    <!-- <h1>MoVo Login</h1> -->
    <form method="POST" action="{{ url_for('admin.login') }}">
        {{ form.hidden_tag() }}
        <div>
            <!-- {{ form.username.label(class="form-label") }} -->
            {{ form.username(class="form-input", placeholder="Username") }}
        </div>
        <div>
            <!-- {{ form.password.label(class="form-label") }} -->
            {{ form.password(class="form-input", placeholder="Password") }}
        </div>
        <div>
            {{ form.submit(class="form-submit") }}
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('admin.signup') }}">Sign up here</a></p>
</div>
</div>
{% endblock %}
